# property_name: The name or title of the property being listed for sale or rent.

# link: A URL or hyperlink to the property's listing page, often leading to more detailed information or media (images, videos) about the property.

# society: The name of the residential complex or society where the property is located.

# price: The asking price of the property, typically expressed in the local currency (e.g., INR for Indian listings).

# rate: The rate per unit area (like square feet or square meter), giving the price per unit area of the property.

# area: The total size of the property, usually in square feet or square meters.

# areaWithType: The area of the property with its type, such as "1,200 sq.ft" or "2BHK", where the unit of measurement and property type might be included.

# bedRoom: The number of bedrooms in the property.

# bathroom: The number of bathrooms in the property.

# balcony: Indicates if the property has a balcony or not, and might provide additional details like the number of balconies or their sizes.

# additionalRoom: Additional rooms in the property, such as a study, servant room, or utility room.

# address: The physical address of the property, providing details about its location (e.g., city, street name, zip code).

# noOfFloor: The total number of floors in the building or complex where the property is located.

# facing: The direction the property faces, such as North, South, East, or West, which can influence sunlight, ventilation, and view.

# agePossession: The age of the property (in years) and/or the date when the property will be available for possession (e.g., "Ready to move", "Under construction").

# nearbyLocations: Points of interest or amenities located near the property, such as schools, hospitals, shopping centers, or transportation hubs.

# description: A detailed description or narrative about the property, highlighting its features, benefits, or unique selling points.

# furnishDetails: Information about the furnishing status of the property, such as whether it is furnished, semi-furnished, or unfurnished.

# features: Specific features or amenities available in the property, like gym, swimming pool, parking, security, etc.

# rating: The rating given to the property based on reviews or feedback from previous tenants or buyers (e.g., out of 5 stars).

# property_id: A unique identifier assigned to each property listing for tracking and referencing.

In [ ]:
## import library
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
## load data
df=pd.read_csv('/content/independent-house -excel-cleaned.csv')

In [ ]:
# shape
df.shape

(1036, 21)

In [ ]:
## top 5 rows
df.head()

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,E69288322
2,10 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/10-bhk-bedroom-indepen...,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69536898
3,21 Bedroom House for sale in Sector 54 Gurgaon,https://www.99acres.com/21-bhk-bedroom-indepen...,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",R69483164
4,12 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/12-bhk-bedroom-indepen...,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",M69381272

In [ ]:
## information about data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036 entries, 0 to 1035
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1036 non-null   object
 1   link             1036 non-null   object
 2   society          452 non-null    object
 3   price            967 non-null    object
 4   rate             998 non-null    object
 5   area             1036 non-null   object
 6   areaWithType     986 non-null    object
 7   bedRoom          986 non-null    object
 8   bathroom         986 non-null    object
 9   balcony          986 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1030 non-null   object
 12  noOfFloor        966 non-null    object
 13  facing           674 non-null    object
 14  agePossession    986 non-null    object
 15  nearbyLocations  912 non-null    object
 16  description      1035 non-null   object
 17  furnishDetails   742 non-null    object
 18  features         674 non-null    object
 19  rating           907 non-null    object
 20  property_id      1035 non-null   object
dtypes: object(21)
memory usage: 170.1+ KB

In [ ]:
## drop irrelevent columns
df=df.drop(columns=['link','property_id'],axis=1)
df.shape

(1036, 19)

In [ ]:
## lets add a columns property type
df.insert(loc=1,column='Property_type',value='house')

In [ ]:
df.head()

,property_name,Property_type,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,house,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,house,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,house,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

##`Clean columns data  one by one`

In [ ]:
## society
df['society'].value_counts(dropna=False)

society
NaN                                                  584
Emaar MGF Marbella                                    26
Vipul Tatvam Villa                                    26
International City by SOBHA Phase 2                   26
International City by Sobha Phase 1                   23
Unitech Uniworld Resorts                              13
DLF City Plots                                        11
DLF City Plots Phase 2                                11
Unitech Espace                                        11
Bptp Visionnaire                                       9
Eldeco Mansionz                                        9
Uppal Southend4.0 ★                                    8
Not Applicable                                         7
Ansals Palam Vihar                                     6
Experion Windchants3.8 ★                               6
Sushant Lok 1 Builder Floors                           6
DLF City Phase 1                                       5
nul                                                    4
Unitech Aspen Greens                                   4
Vatika India Next4.1 ★                                 4
DLF New Town Heights 24.0 ★                            4
DLF Alameda                                            4
Ansal Sushant Lok Plots4.1 ★                           4
SS Aaron Ville                                         3
Malibu Towne                                           3
Vatika Signature Villas                                3
Palam Vihar Extension West Zone RWA                    3
Sector 14 RWA                                          3
Eros Rosewood Villas                                   3
Housing Board Colony                                   3
Rattan Garden                                          3
Eros Rosewood City4.0 ★                                3
Central Park Flower Valley                             3
BPTP Astaire Gardens3.7 ★                              3
Luxury DLF City Floors                                 3
DLF City Plots Phase 3                                 3
Anant Raj Estates                                      3
Tata Primanti4.1 ★                                     3
Unitech Nirvana Birch Court                            3
Puri Diplomatic Greens4.0 ★                            3
Ansals Florence Villa                                  3
Ardee City3.8 ★                                        2
IFFCO Nagar and 17B RWA                                2
Bhim Garh Kheri                                        2
Sobha City                                             2
Sector 38 RWA                                          2
RWA Sector 46                                          2
BPTP Pedestal                                          2
SS Hibiscus                                            2
Unitech Palms South City 1                             2
Unitech Escape3.8 ★                                    2
Satya The Hermitage3.5 ★                               2
Hans Enclave                                           2
Suncity Township4.1 ★                                  2
Emaar The Palm Springs                                 2
Nirvana Cedar Crest                                    2
Saksham Welfare Association                            2
Project Housing Board Colony                           2
Bestech Park View Ananda4.2 ★                          2
Silverglades Tarudhan Valley Golf Resort               2
Project Mianwali Colony                                2
shivpuri                                               2
Emaar Emerald Hills4.1 ★                               2
Suncity Essel Towers4.2 ★                              2
Ansal API Esencia3.7 ★                                 2
Unitech Deerwood Chase                                 2
Spaze Privy3.9 ★                                       2
DLF New Town Heights3.7 ★                              2
4S Aradhya Homes                                       1
Ansal API Spanish Court                                1
private house                                          1
Ashok Vihar Phase 3 Gurgaon                            1
Central Park Flower Valley Cerise Floors               1
HUDA Ashok Vihar Phase 13.9 ★                          1
Birla Navya                                            1
Ireo Victory Valley4.1 ★                               1
Ansal Florence Super                                   1
Kothi                                                  1
DLF City Plots Phase 4                                 1
Farrukhnagar                                           1
Unitech South City 23.8 ★                              1
nirvana country                                        1
Landmark House                                         1
Prem Kunj                                              1
cloudnine cottages                                     1
u block dlf phase 3 road no 21                         1
Sector 15 Part 2 RWA                                   1
Nitin Vihar                                            1
Ansal                                                  1
Ashok vihar phase III Extension                        1
secter 16a daultabad faridabad house no 313            1
rattan vihar rajendra park                             1
Smart World Orchard                                    1
Ansal Sushant Residency                                1
Sector-17C                                             1
sector 37                                              1
Huda Floor                                             1
Huda                                                   1
Grover Homes Sec 4                                     1
Sector 57 Huda                                         1
Godrej Meridien                                        1
Ansal Sushant Lok 2                                    1
The Laburnum                                           1
Vatika Independent Floors3.8 ★                         1
Arjun Marg/ Sector- 26 Phase- 1/ Golf Course Road      1
DLF Pink Town House4.0 ★                               1
FLOOR WISE DESIGNER KOTHI                              1
Satya The Legend3.8 ★                                  1
Ireo Victory Valley4.0 ★                               1
DLF Floors Phase 3                                     1
Independent House Sector 45                            1
All Punjabi Welfare Association                        1
Unitech Greenwood City3.6 ★                            1
Vatika The Seven Lamps3.8 ★                            1
Nirvana Country                                        1
Ansal Sushant Lok                                      1
Central Park                                           1
Signature Global City 81                               1
Signature Global City                                  1
DLF South City 1                                       1
huda sector-56 gurgaon                                 1
DLF City Plot Phase 3                                  1
Signature Global City 63A                              1
sneh vihar                                             1
Adani Brahma Samsara4.2 ★                              1
Surat nagar phase 2                                    1
Shri Shyam Residency                                   1
Ansal Celebrity Homes                                  1
Laxmi Garden Sector-11                                 1
HUDA Housing Board Colony4.1 ★                         1
Tulip Yellow                                           1
shree krishna homes                                    1
Smart World Gems                                       1
Ganpati Heights Apartment                              1
Hero Homes                                             1
Jacobpura Gurugram                                     1
Anand Garden, Sector-105                               1
DLF Gardencity Enclave                                 1
RK Excelo                                              1
DLF The Grove                                          1
Surendra Homes Dayanand Colony                         1
Rajendra Park Gurgaon                                  1
house number B-34                                      1
ATS Tourmaline3.9 ★                                    1
Vatika Sovereign Next                                  1
Anamika Enclave                                        1
bhim nagar, sector 6                                   1
Emaar MGF The Palm Drive4.1 ★                          1
Bhawani enclave                                        1
Tulip Ivory3.5 ★                                       1
Huda Plots                                             1
Om Nagar, Sector-11                                    1
DLF Garden City Floors                                 1
mian wali                                              1
HUDA Plot Sector 38                                    1
DLF The Arbour                                         1
My Home                                                1
Sheetla Enclave                                        1
Suncity Avenue 76                                      1
SS Omnia                                               1
rajendra park sec 105                                  1
Anshul                                                 1
Sare Crescent Parc Royal Greens Phase 1                1
Vipul World3.9 ★                                       1
Greenopolis                                            1
Ansal Esencia Sovereign Floors                         1
Nirmal Enclave, Maruti Kunj Road                       1
jacob pura                                             1
mahavir pura                                           1
Raj Villas                                             1
Ansal Heights3.2 ★                                     1
Shivaji Nagar Residential                              1
Bhim Nagar Society                                     1
Ninex City                                             1
Signature Global City 92                               1
DLF City Plot Phase 4                                  1
Sai Kripa Floors 5                                     1
Naman Residency                                        1
Krishna Palace                                         1
Huda Flats                                             1
Jacobpura                                              1
Indiabulls Centrum Park3.7 ★                           1
Madan puri                                             1
Signature Global Park4.0 ★                             1
ROW HOUSE                                              1
Name: count, dtype: int64

In [ ]:
df['society']=df['society'].str.split(r'(?<=\D)(\d+\.\d+|\d+)(?=\W)').str.get(0)

In [ ]:
##price
df = df[df['price'] != 'price']
df=df[df['price'] != 'Price on Request']

In [ ]:
def treat_price(x):
    # Ensure the input is a string before processing
    if isinstance(x, str):
        # Normalize the string (remove spaces and handle uppercase/lowercase)
        x = x.strip().lower()

        # Split the string into number and unit part
        parts = x.split()

        if len(parts) == 2:
            num = float(parts[0])
            unit = parts[1]

            # Check for unit and convert accordingly
            if unit == 'lac':
                return np.round(num / 100, 2)  # Convert 'Lac' to 'Cr' by dividing by 100
            elif unit in ['crore', 'cr']:
                return np.round(num, 2)  # 'Crore' and 'Cr' are the same, keep as is
        else:
            # If there's no unit, return the number as is
            return np.round(float(parts[0]), 2)
    else:
        return x  # If it's not a string, return the value as is

In [ ]:
df['price']=df['price'].apply(treat_price)
df['price']=df['price'].astype(float)

In [ ]:
df['price']

0        5.25
1        5.70
2        2.10
3        5.00
4        3.00
5        4.50
6       12.00
7       20.00
8       10.85
9        1.95
10       4.45
11       9.00
12       5.00
13      15.00
14       8.25
15       2.00
16      10.75
17       2.10
18       7.35
19       4.45
20       3.40
21      12.00
22       8.40
23       8.50
24       7.60
25       7.00
26       4.75
27       3.50
28       5.00
29      10.56
30       5.46
31      10.00
32       9.00
33      10.00
34       1.95
35       3.30
36      13.00
37       7.20
38       6.00
39       9.00
40       5.80
41       0.55
42       7.49
43      13.50
44      11.95
45      12.39
46       6.25
47        NaN
48       5.40
49       5.75
50       2.55
51       5.60
52      17.00
53       7.99
54       3.75
55       7.25
56       8.40
57       3.55
58       2.50
59       2.50
60       9.00
61       2.10
62        NaN
63        NaN
64       4.50
65       6.50
66        NaN
67        NaN
68        NaN
69        NaN
70        NaN
71        NaN
72        NaN
73        NaN
74        NaN
75        NaN
76        NaN
77        NaN
78        NaN
79       9.50
80       5.00
81        NaN
82        NaN
83        NaN
84        NaN
85        NaN
86        NaN
87        NaN
88        NaN
89        NaN
90       5.50
91       5.65
92        NaN
93        NaN
94        NaN
95        NaN
96        NaN
97        NaN
98        NaN
99        NaN
100       NaN
101      8.80
102       NaN
103       NaN
104       NaN
105       NaN
106      3.25
107      5.00
108     10.45
109     19.50
110       NaN
111       NaN
112      7.50
113      0.67
114      5.75
115       NaN
116      5.70
117      3.20
118     11.50
119      7.69
120      7.00
121      1.55
122      3.85
123      2.00
124      3.10
125      2.25
126      7.00
127      8.50
128      8.70
129     12.50
130      6.80
131      9.50
132      7.00
133      6.20
134      3.60
135      3.05
136      5.90
137      5.85
138      4.00
139      5.35
140      6.60
141      6.30
142     12.00
143      0.65
144      0.55
145      0.85
146      0.58
147      0.65
148      0.61
149      0.67
150      5.80
151      6.00
152      6.25
153      7.05
154      4.50
155      3.69
156      2.50
157      5.50
158     15.00
159      6.95
160      5.70
161     11.30
162     11.25
163      4.02
164      5.70
165      1.00
166      0.66
167      0.70
168      1.45
169      0.95
170      4.50
171      0.90
172      0.45
173      1.00
174      0.60
175      7.00
176      3.93
177      4.00
178      0.75
179      0.90
180      2.75
181      0.50
182      0.50
183      0.42
184      0.60
185      0.48
186      0.50
187      0.35
188      4.00
189      2.40
190      2.20
191      1.10
192      8.00
193      0.82
194      0.90
195      0.70
196      0.95
197      1.30
198      0.36
199      3.50
200      0.80
201      0.16
202      0.80
203      6.00
204      2.80
205      2.75
206      1.75
207      3.10
208      1.16
209      0.85
210      0.90
211      0.34
212      5.00
213      0.36
214      5.00
215      9.50
216      7.25
217      1.50
218      1.30
219      3.75
220      0.37
221      2.25
222      1.15
223      0.95
224      0.49
225      1.45
226      0.80
227      1.60
228      0.85
229      7.00
230      0.50
231      8.00
232      0.45
233      0.62
234      1.00
235      4.12
236      0.95
237      0.45
238      0.45
239      1.87
240      0.85
241      0.42
242      0.42
243      1.20
244      6.50
245      3.75
246      2.50
247      2.25
248      0.75
249      0.30
250       NaN
251      1.35
252      4.70
253      0.60
254      0.22
255      1.65
256      0.50
257      2.30
258      1.25
259      1.70
262      6.00
263      2.80
264      3.12
265      0.08
266      3.50
267      2.58
268      8.50
269      4.00
270      1.45
271      0.60
272      1.10
273       NaN
274      2.50
275      3.50
276      2.95
277       NaN
278       NaN
279      0.70
280      1.16
281     16.00
282      8.50
283      8.95
284       NaN
285     14.00
286      0.85
287      1.35
288     13.20
289      6.00
292       NaN
293       NaN
294       NaN
295       NaN
296       NaN
297      0.51
298      1.10
299       NaN
300      2.50
301      0.53
302      2.00
303      0.63
304      8.00
305      0.45
306      0.37
307      1.72
308      1.35
309      0.50
310      0.62
311      8.00
312      1.80
313      1.70
314      0.55
315      1.50
316      1.55
317      0.32
318      2.10
319      0.65
320      1.60
321      0.78
322      0.95
323      3.85
324      0.66
325      0.45
326      0.85
327      1.50
328      1.52
329      1.00
330      1.05
331      0.85
332      0.58
333      0.45
334      1.35
335      0.70
336      1.40
337      5.15
338      6.50
339      3.50
340     13.50
341      5.70
342      3.30
343      1.75
344      0.75
345      3.50
346      0.92
348      0.52
349      1.10
350      0.75
351      1.25
352      4.25
353      0.37
354      5.70
355      0.80
356      2.10
357      1.10
358      0.60
359      1.20
360      4.50
361      0.80
362      1.10
363       NaN
364      3.00
365      8.50
366      1.10
367      0.75
368      6.00
369      0.82
370      0.35
371      1.15
372      1.85
373      8.50
374      0.90
375      0.50
377      5.75
378      4.65
379      7.20
380      0.60
381      4.50
382      1.30
383      3.20
384      0.60
385      1.95
386      1.25
387      6.10
388      0.50
389      2.00
390      2.10
391      1.25
392      0.65
393     11.50
394      0.90
395      0.75
396      1.30
397      0.48
398      0.68
399      1.50
400      1.30
401      0.60
402      6.50
403      0.49
404      1.07
405      2.10
406      4.60
407      1.00
408      1.10
409      2.95
410      4.60
411      0.35
412      1.50
413     10.00
414      5.20
415      0.40
416      0.62
417      0.50
418      5.00
419      0.92
420      3.50
421      0.80
422      1.50
423      2.25
424     13.50
425      0.50
426      1.70
427      0.45
428       NaN
429      1.20
430      1.80
431      1.50
432      0.35
433      0.55
434      4.30
435      0.40
436       NaN
437      3.00
438      0.43
440      0.32
441      0.47
442      5.50
443      0.75
444      0.71
445      0.38
446      3.25
447      0.52
448      2.30
449      1.50
450      1.10
451      1.35
452      1.30
453      1.25
454       NaN
455      1.44
456      0.50
457      1.00
458      5.50
459      5.50
460      0.80
461      0.90
462      4.30
463      0.90
464      3.25
465      0.38
466      3.71
467     13.00
468      0.40
469      0.55
470      1.30
471      0.75
472      0.30
473      0.18
474      1.55
475      0.32
476      4.00
477      0.38
478     12.00
479      8.00
480      0.45
481      1.20
482      0.40
483      1.00
484      0.50
485      1.15
486      0.70
487      3.08
488      2.95
489      8.00
490      6.50
491      3.00
492      8.00
493      2.75
494      2.25
495      1.45
496      3.50
497      0.82
498     10.50
499      0.38
500     10.00
501      0.75
502      4.60
503      0.50
504      7.00
505      0.35
506      0.95
507      1.60
508      0.29
509      0.24
510      5.60
511      0.55
512      5.00
513      1.80
515      1.50
516      1.05
517      1.80
518      0.44
519      0.83
520      0.70
521      0.98
522      3.35
523      0.48
524      1.20
525      9.00
526      3.09
527      3.15
528      1.70
529      4.75
530      1.65
531      0.85
532      2.00
533      0.74
534      1.85
535      0.40
536      0.85
537      0.69
538      0.85
539     13.00
541      1.40
542      1.80
543      0.70
544      0.70
545      2.40
546      3.35
547      7.00
548      1.65
549      0.60
550      2.43
551      3.50
552      0.34
553      0.75
554      0.55
555      0.70
556      6.25
557      1.20
558      0.49
559      2.00
560      0.37
561      0.42
562      0.75
563      3.50
564      4.50
565      1.16
566      0.90
567      0.75
568      0.13
569      0.96
570      1.35
571      0.65
572     11.00
573     18.02
574      0.66
575      4.60
576       NaN
577      1.90
578      1.50
579      2.50
580      0.70
581      0.85
582      2.00
583      0.70
584      0.89
585      0.80
586      1.60
587      0.89
588      1.34
589      1.70
590      0.34
591      9.90
592      0.40
593      2.15
594      1.85
595      0.45
596      0.58
597      1.70
598      0.46
599      0.80
600      0.58
601      2.60
602      2.00
603      3.87
604      0.65
605      2.25
606      0.85
607      2.00
608     10.00
609      3.50
610      0.55
611      6.50
612      1.39
614      0.70
615      0.59
616      4.00
617     12.50
618      1.60
619      1.60
620      2.90
621      0.40
622      1.70
623      5.50
624      6.75
625      5.50
626      2.75
627      0.27
628      0.70
629      0.95
630      8.10
631      7.00
632      0.38
633      0.60
634      0.65
635      7.20
636      1.50
637     10.00
638     15.50
639     14.75
640     20.00
641      9.54
642     10.55
643     17.30
644      3.65
645     18.90
646      9.00
647     24.00
648      2.15
649      2.25
650      7.46
651      6.75
652      0.60
653      3.99
654      6.81
655      6.50
656      6.95
657      7.00
658      3.85
659      3.20
660      8.81
661      1.45
662      8.90
663      6.50
664      4.49
665     22.00
666      9.50
667      7.00
668      4.15
669      2.90
670     12.00
671      8.50
672     11.00
673      1.35
674      1.90
675      3.25
676     19.00
677      7.30
678      5.60
679      2.55
680      2.40
681     18.50
682     26.00
683      1.70
684      1.60
685      4.35
686      6.80
687     10.00
688      4.60
689     12.50
690      2.90
691     27.50
692      8.00
693      2.25
694      8.31
695      6.21
696      7.35
697      4.50
698      6.50
699      1.83
700      7.35
701     10.50
702      2.75
703      6.50
704      7.50
705      8.00
706      5.50
707      4.35
708      2.75
709     18.00
710     17.00
711      3.75
712     13.50
713      4.75
714      5.10
715      3.90
716      6.25
717     10.55
718      2.01
719      3.25
720      9.25
721      6.00
722      5.25
723       NaN
724     26.00
725      5.88
726      0.53
727      0.47
728     12.25
729     10.45
730     12.00
731       NaN
732      6.40
733      4.35
734      2.95
735      3.00
736      1.15
737      8.25
738     13.50
739     15.00
740      5.50
741     18.00
742      5.80
743     12.50
744      3.51
745      3.50
746      9.40
747     10.30
748      6.00
749      8.45
750      7.25
751      4.00
752      6.15
753      4.60
754     12.50
755     10.00
756     16.00
757     12.50
758     16.00
759     10.00
760       NaN
761      2.80
762      6.75
763      2.50
764      8.00
765      5.40
766      5.75
767      2.55
768      5.60
769     17.00
770      7.99
771      3.75
772      7.25
773      8.40
774      3.55
775      2.50
776      2.50
777      2.47
778      3.70
779     18.40
780      4.60
781      3.65
782     12.00
783      4.50
784      4.40
785      7.25
786      0.99
787       NaN
788     20.00
789      2.65
790      2.95
791      3.60
792      1.27
793      0.75
794      6.00
795       NaN
796      6.50
797     18.00
798     11.29
799      8.49
800      8.50
801      6.00
802      9.50
803     19.50
804     10.50
805      4.31
806      6.95
807     10.50
808     10.50
809      5.80
810      4.60
811     11.58
812       NaN
813      4.00
814     16.00
815      6.00
816      8.25
817      6.80
818      2.50
819      7.50
820      8.48
821      6.25
822     10.85
823      5.15
824      3.50
825      3.60
826      6.00
827     14.00
828      1.60
829      1.70
830      7.25
831     15.50
832      3.40
833     11.25
834      3.30
835      5.50
836       NaN
837      8.50
838      8.50
839       NaN
840     11.95
841     12.00
842      6.50
843     17.00
844     11.50
845      9.00
846     15.00
847      8.20
848      5.51
849      3.20
850      8.00
851      2.95
852      2.80
853      5.25
854      8.49
855      4.35
856      3.49
857      2.99
858      9.19
859      1.64
860      9.35
861      9.25
862      2.80
863      2.50
864      4.05
865      8.40
866      6.00
867     11.00
868      8.75
869     23.00
870      6.50
871      2.45
872      5.50
873      3.51
874      9.25
875      5.65
876      7.85
877     13.50
878     19.00
879      5.50
880      3.50
881      8.25
882     16.00
883     25.00
884      2.68
885      2.70
886      2.30
887      0.92
888      1.04
889      9.85
890     15.00
891      1.18
892      0.90
893     13.00
894     15.10
895      9.01
896     18.00
897     12.00
898      2.25
899      8.00
900      5.75
901      9.80
902      4.95
903     19.00
904      4.99
905      7.10
906      4.25
907      9.50
908     16.00
909      8.25
910      4.70
911      4.25
912       NaN
913      4.50
914      8.60
915      9.55
916      4.95
917      9.50
918      5.00
919      4.75
920      1.15
921      6.00
922      9.00
923      3.60
924      9.00
925      2.20
926      3.30
927      3.50
928      2.35
929     18.25
930      5.30
931      6.25
932      6.30
933      5.50
934     11.75
935      1.90
936     10.80
937      6.40
938      1.15
939      5.50
940      3.50
941      3.75
942      4.25
943      4.00
944     31.50
945      1.40
946      5.00
947     17.00
948      9.00
949      1.65
950     11.00
951     11.00
952      3.75
953      3.40
954      4.50
955      5.25
956      6.50
957     11.00
958      7.50
959      9.90
960      6.75
961      6.75
962      3.75
963      1.45
964      4.10
965      6.40
966      3.50
967      4.70
968      7.50
969      5.50
970      7.65
971      5.15
972      6.75
973     10.00
974      8.50
975      6.75
976      9.50
977      5.50
978      6.46
979      5.60
980     10.50
981      8.00
982      6.44
983      7.50
984      7.00
985     11.00
986      6.50
987      6.80
988      6.75
989      4.70
990      7.80
991      6.50
992      8.50
993      4.50
994      4.45
995       NaN
996      3.80
997      1.00
998      1.40
999     11.50
1000     3.50
1001     7.10
1002     9.50
1003    11.75
1004     4.00
1005     2.25
1006    12.50
1007    11.00
1008     4.30
1009     7.45
1010     7.42
1011     9.25
1012     1.20
1013     6.09
1014     5.00
1015      NaN
1016      NaN
1017     2.98
1018     4.00
1019     2.40
1020     3.15
1021     4.25
1022     5.00
1023     2.20
1024     3.50
1025     5.65
1026     3.55
1027     3.60
1028     3.10
1029     4.75
1030     3.05
1031     5.50
1032     4.25
1033     4.50
1034     3.25
1035     3.60
Name: price, dtype: float64

In [ ]:
##rate
## rename columns
df.rename(columns={'rate':'Price_per_sqrt'},inplace=True)

In [ ]:
df['Price_per_sqrt']=df['Price_per_sqrt'].str.replace('/sq.ft.','').str.replace(',','').str.replace('₹','').str.strip()
df['Price_per_sqrt']=df['Price_per_sqrt'].astype(float)

In [ ]:
##area
df=df.drop(columns=['area'])
df.insert(loc=5,column='Area',value=(np.round((df['price']*10000000)/df['Price_per_sqrt'],2)))

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026 entries, 0 to 1035
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1026 non-null   object
 1   Property_type    1026 non-null   object
 2   society          452 non-null    object
 3   price            957 non-null    float64
 4   Price_per_sqrt   998 non-null    float64
 5   Area             957 non-null    float64
 6   areaWithType     976 non-null    object
 7   bedRoom          976 non-null    object
 8   bathroom         976 non-null    object
 9   balcony          976 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1020 non-null   object
 12  noOfFloor        956 non-null    object
 13  facing           673 non-null    object
 14  agePossession    976 non-null    object
 15  nearbyLocations  909 non-null    object
 16  description      1025 non-null   object
 17  furnishDetails   739 non-null    object
 18  features         674 non-null    object
 19  rating           898 non-null    object
dtypes: float64(3), object(17)
memory usage: 168.3+ KB

In [ ]:
##bedroom
df['bedRoom']=df['bedRoom'].str.replace('Bedrooms','').str.replace('Bedroom','').str.strip()
df['bedRoom']=df['bedRoom'].astype(float)

In [ ]:
##bathroom
df['bathroom']=df['bathroom'].str.replace('Bathrooms','').str.replace('Bathroom','').str.strip()
df['bathroom']= df['bathroom'].astype(float)

In [ ]:
##balcony
df['balcony']=df['balcony'].str.replace(r'No Balcony', '0', regex=True).str.replace('+','').str.replace('Balconies',
                                                                                          '').str.replace('Balcony','').str.strip()

df['balcony']=df['balcony'].astype(float)

In [ ]:
##additionalRoom
df['additionalRoom'].value_counts(dropna=False)

additionalRoom
NaN                                              437
Servant Room                                      82
Pooja Room,Study Room,Servant Room,Store Room     63
Others                                            59
Pooja Room                                        38
Pooja Room,Study Room,Servant Room                34
Pooja Room,Study Room,Servant Room,Others         32
Store Room                                        31
Pooja Room,Servant Room                           24
Study Room,Servant Room                           19
Study Room                                        19
Servant Room,Store Room                           15
Pooja Room,Store Room                             11
Pooja Room,Study Room                             11
Pooja Room,Others                                 11
Pooja Room,Store Room,Study Room,Servant Room      9
Servant Room,Pooja Room                            8
Servant Room,Others                                8
Study Room,Servant Room,Pooja Room,Store Room      7
Pooja Room,Servant Room,Store Room                 7
Servant Room,Pooja Room,Store Room                 7
Store Room,Servant Room                            6
Pooja Room,Servant Room,Others                     5
Study Room,Pooja Room,Servant Room                 5
Servant Room,Store Room,Pooja Room                 5
Servant Room,Study Room,Pooja Room,Store Room      5
Servant Room,Study Room                            5
Store Room,Pooja Room                              4
Study Room,Servant Room,Store Room                 4
Pooja Room,Servant Room,Study Room,Store Room      4
Study Room,Servant Room,Store Room,Pooja Room      4
Pooja Room,Study Room,Others                       4
Study Room,Others                                  3
Study Room,Pooja Room,Servant Room,Store Room      3
Study Room,Servant Room,Pooja Room                 3
Pooja Room,Study Room,Store Room                   3
Study Room,Servant Room,Others                     2
Study Room,Pooja Room,Store Room,Servant Room      2
Study Room,Pooja Room                              2
Store Room,Pooja Room,Servant Room                 2
Study Room,Pooja Room,Store Room                   2
Pooja Room,Study Room,Store Room,Servant Room      2
Store Room,Pooja Room,Study Room                   2
Store Room,Pooja Room,Study Room,Servant Room      2
Servant Room,Study Room,Store Room,Pooja Room      2
Servant Room,Study Room,Pooja Room                 2
Study Room,Store Room                              1
Store Room,Pooja Room,Servant Room,Study Room      1
Servant Room,Store Room,Study Room,Pooja Room      1
Study Room,Store Room,Pooja Room                   1
Store Room,Servant Room,Study Room,Pooja Room      1
Pooja Room,Store Room,Servant Room                 1
Servant Room,Others,Pooja Room                     1
Study Room,Store Room,Servant Room,Pooja Room      1
Store Room,Study Room,Servant Room                 1
Store Room,Servant Room,Pooja Room                 1
Study Room,Others,Servant Room                     1
Name: count, dtype: int64

In [ ]:
# df['additionalRoom']=df['additionalRoom'].fillna('Not available')
# def additionalRoom_processing(x):
#   if x =='Not available':
#     return 0
#   else:
#     return 1
# df['additionalRoom']=df['additionalRoom'].apply(additionalRoom_processing)
# df['additionalRoom']=df['additionalRoom'].astype(int)

In [ ]:
df.sample()

,property_name,Property_type,society,price,Price_per_sqrt,Area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
834,4 Bedroom House for sale in Sushant Lok Phase 3,house,Ansals Florence Villa,3.3,19820.0,1664.98,Plot area 185(154.68 sq.m.),4.0,3.0,3.0,"Pooja Room,Study Room,Servant Room,Store Room","112, Sushant Lok Phase 3, Gurgaon, Haryana",2 Floors,East,5 to 10 Year Old,"['Sector metro station', 'Sector metro station...",This prime locution in sector 57 gated block c...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [ ]:
#floorNum
df['noOfFloor']=df['noOfFloor'].str.split(' ').str.get(0).str.replace(r'Lower','0',regex=True).str.replace(r'Ground','0',regex=True).str.replace(r'Basement',
                '-1',regex=True).replace(r'[A-Za-z]','',regex=True).str.strip()

In [ ]:
df['noOfFloor']=df['noOfFloor'].astype(float)

In [ ]:
##facing
df['facing']=df['facing'].fillna('NA')

In [ ]:
df.sample(10)

,property_name,Property_type,society,price,Price_per_sqrt,Area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
762,3 Bedroom House for sale in DLF Phase 1,house,NaN,6.75,27778.0,2429.98,Plot area 270(225.75 sq.m.),3.0,3.0,3.0,NaN,"DLF Phase 1, Gurgaon, Haryana",2.0,North-East,5 to 10 Year Old,"['Guru dronacharya metro station', 'Dlf phase ...",Excellent liveable 3bhk property ne facing in ...,NaN,"['Feng Shui / Vaastu Compliant', 'High Ceiling...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
606,3 Bedroom House for sale in Sector 33 Gurgaon,house,Nitin Vihar,0.85,9444.0,900.04,Plot area 900(83.61 sq.m.),3.0,2.0,0.0,NaN,"Sector 33 Gurgaon, Gurgaon, Haryana",1.0,West,1 to 5 Year Old,"['Rajiv Chowk Mosque', 'Airforce Hospital', 'S...",Independent house available for sale in nitin ...,NaN,"['High Ceiling Height', 'Water Storage', 'No o...","['Environment3 out of 5', 'Lifestyle4 out of 5..."
232,3 Bedroom House for sale in Surya Vihar,house,NaN,0.45,8411.0,535.01,Carpet area: 535 (49.7 sq.m.),3.0,2.0,1.0,NaN,"Surya Vihar, Surya Vihar, Gurgaon, Haryana",1.0,NA,undefined,NaN,Best in class property available at surya viha...,NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
1003,5 Bedroom House for sale in Sector 33 Gurgaon,house,Unitech Uniworld Resorts,11.75,23240.0,5055.94,Plot area 502(419.74 sq.m.),5.0,7.0,3.0,Servant Room,"A-6, Sector 33 Gurgaon, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['Rajiv Chowk Mosque', 'Icici bank ATM', 'Stan...",520 sqyd 5bhk villa available for sale at unit...,NaN,"['Private Garden / Terrace', 'High Ceiling Hei...","['Environment3 out of 5', 'Safety4 out of 5', ..."
284,3 Bedroom House for sale in Sector 66 Gurgaon,house,Emaar MGF The Palm Drive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sector 66 Gurgaon, Gurgaon, Haryana",NaN,NA,NaN,"['Sector 55-56 Rapid Metro Station', 'HUB 66',...","Emaar mgf the palm drive in sector-66, gurgaon...",NaN,NaN,"['Environment3 out of 5', 'Lifestyle4 out of 5..."
88,5 Bedroom House for sale in Sector 63A Gurgaon,house,Anant Raj Estates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sector 63A Gurgaon, Gurgaon, Haryana",NaN,NA,NaN,"['Sector 55-56 Metro Station', 'Paras Trinity ...","Anant raj estates in sector-63a gurgaon, gurga...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
154,16 Bedroom House for sale in Shivaji Nagar,house,NaN,4.50,25000.0,1800.00,Plot area 200(167.23 sq.m.),16.0,16.0,3.0,NaN,"1111, Shivaji Nagar, Gurgaon, Haryana",4.0,South,1 to 5 Year Old,"['Hanuman Mandir', 'Rajiv Chowk Mosque', 'Rama...",Shivaji nagar is one of gurgaon's most sought ...,"['24 Wardrobe', '20 Fan', '1 Exhaust Fan', '14...","['Feng Shui / Vaastu Compliant', 'Park', 'Visi...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
731,5 Bedroom House for sale in Sector 33 Gurgaon,house,Unitech Uniworld Resorts,NaN,NaN,NaN,Plot area 520(434.79 sq.m.),5.0,8.0,3.0,"Servant Room,Store Room","A-898, Sector 33 Gurgaon, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Rajiv Chowk Mosque', 'Icici bank ATM', 'Stan...",5 bhk 520 sqyd villas available at unitech uni...,"['5 Wardrobe', '15 Fan', '1 Exhaust Fan', '5 G...","['Private Garden / Terrace', 'High Ceiling Hei...","['Environment3 out of 5', 'Lifestyle4 out of 5..."
945,3 Bedroom House for sale in Sector 82 Gurgaon,house,Vatika Independent Floors,1.40,8235.0,1700.06,Plot area 1700(157.94 sq.m.),3.0,3.0,2.0,Pooja Room,"N-24, Sector 82 Gurgaon, Gurgaon, Haryana",3.0,North-West,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...","Vatika independent floors in sector-84, gurgao...","['5 Fan', '1 Exhaust Fan', '12 Light', '1 Curt...","['Security / Fire Alarm', 'High Ceiling Height...","['Environment4 out of 5', 'Safety4 out of 5', ..."
148,2 Bedroom House for sale in Laxman Vihar Phase 2,house,NaN,0.61,100000.0,61.00,Plot area 61(5.67 sq.m.),2.0,2.0,2.0,Others,"Laxman Vihar Phase 2, Gurgaon, Haryana",2.0,South-East,5 to 10 Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",Near by road market near by railways station n...,"['3 Fan', '1 Light', '1 Modular Kitchen', 'No ...","['Water Storage', 'Rain Water Harvesting']",NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1026 entries, 0 to 1035
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1026 non-null   object
 1   Property_type    1026 non-null   object
 2   society          452 non-null    object
 3   price            957 non-null    float64
 4   Price_per_sqrt   998 non-null    float64
 5   Area             957 non-null    float64
 6   areaWithType     976 non-null    object
 7   bedRoom          976 non-null    float64
 8   bathroom         976 non-null    float64
 9   balcony          976 non-null    float64
 10  additionalRoom   589 non-null    object
 11  address          1020 non-null   object
 12  noOfFloor        956 non-null    float64
 13  facing           1026 non-null   object
 14  agePossession    976 non-null    object
 15  nearbyLocations  909 non-null    object
 16  description      1025 non-null   object
 17  furnishDetails   739 non-null    object
 18  features         674 non-null    object
 19  rating           898 non-null    object
dtypes: float64(7), object(13)
memory usage: 168.3+ KB

In [ ]:
df.to_csv('cleaned_house_csv',index=False)